@import "reset.styl"
@import "mixins.styl"
@import "mixins.styl"
@import "variable.styl"

body
	background page-bg
	font-family font

h1
	text-transform uppercase

button
	cursor pointer

.head-page
	max-width width-page
	flex()
	justify-content space-between
	align-items flex-start
	padding 63px 0
	margin 0 auto

	.logo
		width 100px
		height 100px
		background: url('../img/logo.png') no-repeat
		background-size 100% 100%

		a
			display block
			height 100%
			text-indent -9999px

.btn
	display inline-block
	font-family font
	text-transform uppercase
	background page-bg
	color #a5abc5
	cursor pointer
	border 1px solid #a5abc5
	border-radius(3px)
	padding 20px

.head-page .btn::before
	content ''
	display inline-block
	width 18px
	height 18px
	vertical-align middle
	margin-right 15px

.btn-back::before
	background: url('../img/sprite-icons.png') no-repeat -320px -32px

.btn-sign::before
	background: url('../img/sprite-icons.png') no-repeat -288px -32px

.main
	max-width width-page
	border 1px solid #a5abc5
	border-radius(3px)
	background: #fff
	margin 0 auto 60px

.form-head
	flex()
	border-bottom 1px solid #a5abc5

	> section
		flex-grow 1
		padding 25px 35px

		h1
			font 20px / 1.24 font
			color #6e768f
			margin-bottom 15px

.order
	flex()
	flex-basis 80%
	border-right 1px solid #a5abc5

.your-order
	flex-basis 70%

	.table-order
		width 100%
		text-align left
		font 16px / 1.24 font
		font-weight bold
		color #a5abc5
		margin-bottom 20px

		tr
			padding 10px 0

		th
			text-transform uppercase
			color #6e768f
			padding 10px 0

.btn-holder
	width 30%
	float right

	button
		width 100%

.submit
	font-family font
	text-transform uppercase
	background #5fcac6
	color #fff
	border 1px solid #a5abc5
	border-radius(3px)
	padding 20px
	margin-bottom 15px

.help
	flex-basis 30%

	p
		font-size 16px
		color #a5abc5
		margin-bottom 15px

	a
		font-size 16px
		color #8a758f
		margin-right 20px

.translate
	padding 60px 0

	.title-holder
		text-align center
	h1
		display inline-block
		border-bottom 1px solid darkgrey
		font 25px / 1.24 font
		letter-spacing 4px
		color #6e768f
		padding-bottom 10px
		margin-bottom 35px

.translate-items
	flex()
	justify-content(space-around)

	input
		display none

	label
		display block
		position relative

		input[type="checkbox"]:checked ~ figure
			border-color #76a7e1
		input[type="checkbox"]:checked + span
			width 26px
			height 26px
			position absolute
			top -13px
			right -13px
			z-index 10
			border-radius(13px)
			background  #76a7e1
		input[type="checkbox"]:checked + span::after
			content: ''
			width 15px
			height 15px
			position absolute
			top 6px
			right 5px
			background url('../img/sprite-icons.png') no-repeat -288px -96px

	figure
		min-height 300px
		background #f7f7fa
		border 5px solid darkgrey
		text-align center
		padding 20px 40px

		img
			margin-bottom 15px

		figcaption
			font-family font
			font-size 18px
			color #a5abc5

.section-list
	position relative
	padding 0 80px 40px

	&::before
		content ''
		width: 50px
		height 50px
		display block
		border 1px solid #000
		border-radius(25px)
		position absolute
		top 0
		left 10px
		z-index 10
		line-height 50px
		text-align center
		font-size 30px
		color #000

	h1
		font 30px/50px font
		color #000
		margin-bottom 30px

		small
			font-size 16px
			color #a5abc5
			vertical-align middle

	.btn
		margin-bottom 25px

		&::before
			content ''
			display inline-block
			background url('../img/sprite-icons.png') no-repeat -97px -2px
			width 13px
			height 12px
			vertical-align middle
			margin-right 15px

.section-list.first::before
	content '1'
.section-list.second::before
	content '2'
.section-list.third::before
	content '3'

.upload-table
	border 1px solid #6e768f
	border-radius(5px)
	font-size 16px
	color #6e768f
	text-align left
	padding 20px

	table
		width 100%

	th
		text-transform uppercase
		padding: 5px

	td
		padding: 5px

.lang-holder
	div
		margin-bottom 20px

		span
			text-transform uppercase
			font-size 16px
			color #6e768f
			margin-right 15px

		select
			margin-right 25px

	.btn::before
		background url('../img/sprite-icons.png') no-repeat -272px -48px
		width 14px
		height 14px

.range-time
	position relative
	margin-bottom 50px

	input
		width 50%
		margin-left 35px

	.start
		position absolute
		top 25px
		left 0
		z-index 15
		text-transform uppercase
		font-size 16px
		color #6e768f

	.end
		position absolute
		top 25px
		left 50%
		z-index 15
		text-transform uppercase
		font-size 16px
		color #6e768f

.timeline
	border 1px solid #6e768f
	border-radius(5px)
	font-size 16px
	color #6e768f
	position relative
	padding 20px 20px 20px 40px

	&::before
		content ''
		background url('../img/sprite-icons.png') no-repeat -208px 0
		width 15px
		height 15px
		display block
		position absolute
		top 37px
		left 10px
		z-index 10

	h1
		text-transform uppercase
		font-size 20px
		color #727895
		margin-bottom 20px

	span
		text-transform uppercase
		color #edbe76

.form-submit
	label
		color #6e768f
		margin-bottom 30px

	input
		vertical-align middle
		margin-right 10px
		margin-left 30%

	button
		margin-left 30px

.footer
	flex()
	justify-content space-around
	background #444a62
	color #eceef4
	padding 30px 40px

	.footer-section
		flex-basis 30%
		font-size 16px
		position relative
		padding 20px 20px 20px 40px

		&::before
			content ''
			background url('../img/sprite-icons.png') no-repeat -64px 0
			width 15px
			height 15px
			display block
			position absolute
			top 25px
			left 10px
			z-index 10

		h1
			text-transform uppercase
			font-size 20px
			color #fff
			margin-bottom 10px

		em
			font-style  italic

		a
			color #eceef4